//Navbar

.navbar-brand{
    a{
        background: url(../images/Logo-desktop.png) no-repeat;
        width: 241px;
        height: 32px;
        background-size: cover;
        display: block;
        @include hide-text;
        background-position: center center;

        // @include media-breakpoint-down(sm) {
        //     width: 150px;
        //     background-size: contain;
        // }
    }
}