@font-face{
    font-family: 'Noto Sans TC';
    src: url('font/Noto_Sans_TC/NotoSansTC-Black.otf');
    src: url('font/Noto_Sans_TC/NotoSansTC-Bold.otf');
    src: url('font/Noto_Sans_TC/NotoSansTC-Light.otf');
    src: url('font/Noto_Sans_TC/NotoSansTC-Medium.otf');
    src: url('font/Noto_Sans_TC/NotoSansTC-Regular.otf');
    src: url('font/Noto_Sans_TC/NotoSansTC-Thin.otf');
}
@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers";
@import "../../../node_modules/bootstrap/scss/bootstrap";

// @import "layout";
@import "./components";
@import "./plugins";

